@model IEnumerable<Course>


<div class="row">
    <div class="col-sm-12 card-box ">
        <div class="col-md-12">
            <h1 class=" m-t-0 m-b-30 text-center ">درباره ما</h1>
        </div>
      

        <div class="card-box table-responsive">

            <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.C_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.C_coeffient)
                        </th>



                        <th>عملیات</th>
                    </tr>
                </thead>

                <tbody class="centertext">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>

                                @item.C_name
                            </td>

                            <td>
                                @item.C_coeffient
                            </td>

                            <td>

                           <a href="/Course/Edit/@item.Id" > edit</a>

                            </td>
                        </tr>

            
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>